// Place all the styles related to the valueplus controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




/*------------------index page------------------*/

/*카라우셀*/
        
        .carousel-slider {
            margin-bottom: 10px;
        }
        
        .carousel-item {
            height: 400px;
            width: 100%;
        }
        
        .carousel-text {
            position: absolute;
            bottom: 30px;
            left: 220px;
            font-weight: bold;
        }
        
        .carousel-p {
            position: absolute;
            bottom: 20px;
            left: 225px;
            font-weight: bold;
        }
        
        


/*카테고리*/

        .main-category {
            position: relative;
            top: 30px;
            bottom: 10px;
            left: 210px;
            width: 950px;
            font-weight: bold;
            font-family: 'NanumBarunGothic';
        }

        .category-more{
            position: relative;
            top: 30px;
            right: 215px;
            font-weight: bold;
            color: rgba(0,0,0,0.30);
            font-family: 'NanumBarunGothic';
        }
        
        .row.category {
            margin: 0;
        }




/*카드*/
        .card {
            position: relative;
            top: 40px;
            width: 100%;
            height:328px;
            
        /* Add shadows to create the "card" effect */
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            transition: 0.3s;
        }

        /* On mouse-over, add a deeper shadow */
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        }
        
        /* Add some padding inside the card container */
        .container {
            padding: 2px;

        }
        
        .card-hr {
             margin-bottom:12px;
             border: 0px;
             border-bottom: 1px solid red;
             
        }

        
        
        /*card typography*/
        .card-typo {
            padding-left: 16px;
            padding-right: 16px;
        }

        .card-title {
            margin-bottom: 0px;
            margin-top: 12px;
            font-family: 'NanumSquare';
        }
        
        .card-subtitle {
            margin-top: 8px;
            margin-bottom: 16px;
            font-family: 'NanumBarunGothic';
        }
        
        .card-text, .card-money {
            margin: 0px;
            padding-bottom: 24px;
            font-family: 'NanumBarunGothic';
        }
        
        .card-collection {
            margin-bottom: 20px;
        }
        
        .card-typo a {
            color: rgba(0,0,0,0.87);
            font-weight: bold;
        }
        
        .vertical-align-middle { 
            vertical-align: middle; 
        }
        
        .inline-block {
            vertical-align: middle;
        }
        
        .card-text-bottom {
            vertical-align: middle;
            display: inline-block;
        }
        

/*피플 카드*/
        .img-circle {
            height: 88.59px;
            border-radius: 50%;
            margin-top: 24px;
            margin-bottom: 0px;
            margin-left: 67px;
        }
        
        .card-title.people,
        .card-subtitle.people,
        .card-text.people {
            text-align: center;
        }
        
        .card-subtitle.people {
            margin-bottom: 16px;
        }
        
        .card-text.people {
            padding-bottom: 24px;
            padding-top: 8px;
        }
    
        .btn-small.people {
            margin-left: 48px;
            margin-bottom: 30px;
        }
        
        .btn-small.people a {
            color: white;
        }
        

/*소개 파트*/
        .index-hr {
            margin-top: 100px;
            margin-bottom: 60px;
        }
        
        .intro-title.intro {
            position: relative;
            left: 215px;
            width: 960px;
            font-weight: bold;
            font-size: 44px;
            line-height: 125%;
            margin-bottom: 32px;
        }
        
        .intro-p.intro {
            position: relative;
            left: 215px;
            width: 960px;
            line-height: 160%;
            margin-top: 24px;
            margin-bottom: 32px;
        }
        
        .btn-large.intro {
            position: relative;
            left: 215px;
        }
        
        .intro-valueplus {
            margin-top: 10px;
            margin-bottom: 60px;
        }
        
        hr {
            border: 0px;
            border-bottom: 1px solid lightgrey;
        }
        
        
/*footer*/
        .footer-copyright {
            margin-top: 32px;
        }
        
        .grey-text {
            font-weight: bold;
        }
        
        .grey-text.title {
            padding: 8px;
            
        }
        
        .grey-text.footer {
            padding: 8px;
        }
        
        
        
        
        
/*------------------list page------------------*/

/*타이틀*/

        .list-title {
            font-weight: 800;
            text-align: center;
            padding-top: 80px;
            padding-bottom: 80px;
            font-size: 60px;
            font-family: 'NanumSquare';
        }
        
        
        .input-field.col.right-align {
            float: right;
        }
        
        
        .dropdown-content li>a, .dropdown-content li>span {
            color: #424242 !important;
        }
        
        .select-wrapper input.select-dropdown:focus {
            border-bottom: 1px solid red !important;
        }
        




/*------------------Login/up page------------------*/

/*로그인 이미지*/
        .login-p {
            position: absolute;
            top: 180px;
            left: 80px;
            font-weight: bold;
            font-size: 36px;
        }
        
        .login-p1 {
            position: absolute;
            top: 400px;
            left: 120px;
            font-weight: 600;
            font-size: 21px;
            font-family: 'NanumBarunGothic';
        }
        
        .login-p2 {
            position: absolute;
            top: 500px;
            left: 120px;
            font-weight: 600;
            font-size: 21px;
            font-family: 'NanumBarunGothic';
        }
        
        .login-p3 {
            position: absolute;
            top: 600px;
            left: 120px;
            font-weight: 600;
            font-size: 21px;
            font-family: 'NanumBarunGothic';
        }
        
        
        /*icons*/
        
        .material-icons.wifi {
            position: absolute;
            top: 425px;
            left: 80px;
        }
        
        .material-icons.person_add {
            position: absolute;
            top: 525px;
            left: 80px;
        }
        
         .material-icons.cloud {
            position: absolute;
            top: 625px;
            left: 80px;
        }
        


/*로그인*/
        .col.s6.login-img {
            padding: 0;
            height: 813px;
        }
        
        .login-img.background {
            width: 700px;
            height: 813px;
        }    
        
        .row.login {
            margin: 0;
        }
        
        .login-title {
            font-family: 'NanumSquare';
            font-weight: 800;
            padding-top: 80px;
        }
        
        .login-subtitle {
            font-weight: 600;
            padding-bottom: 50px;
            font-family: 'NanumBarunGothic';
        }

        .login-title, .login-subtitle {
            text-align: center;
        }

        .login-field {
            width: 400px;
            margin: auto;
            padding-bottom: 5px;
        }       
        
        .input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
            border-bottom: 1px solid red !important;
            box-shadow: 0 1px 0 0 red !important;
        }
        
        .actions.btn-flat {
            width: 120px;
            height: 48px;
            margin-left: 285px;
            margin-bottom: 100px;
            margin-top: 20px;
        }
        
        .login-bottom {
            text-align: center;
            font-family: 'NanumSquare';
            font-weight: 600;
        }
        
        
        .login-bottom a {
            color: red !important;
        }
        
        
    

/*회원가입*/
        .mini-password {
            color: lightgrey;
            font-size: 12px;
        }
        
        .actions.btn-flat.login {
            width: 120px;
            height: 48px;
            margin-left: 285px;
            margin-bottom: 40px;
            margin-top: 20px;
        }
        
        .login-subtitle.signup {
            font-weight: 600;
            padding-bottom: 30px;
        }

/*마이페이지*/
    
        
     
        .my-container{
            margin: 20px 50px auto;
            padding: 10px 50px;
        }
        .tap-title2 {
            font-family: 'NanumSquare';
            font-weight: 700;
            font-size: 20px;
            margin-top: 5px;
            }
        .tap-title {
             margin-top: 10px;

        }
        
        .collection{
             padding: 50px 30px;
        }
        
        .pro-circle{
            border-radius: 50%;
            vertical-align: middle;
            
            width: 150px;
            height: 150px;
        }

        .content{
            padding: 20px;
            vertical-align: middle;
        }
      
/*프로필수정페이지*/
       .profile-container{
           margin: 10px 50px auto;
           padding: 50px;
       }
       
       
       
       
       
/*------------------After Sign-up page------------------*/

/*Intro typo*/
        .after-intro-h3 {
            font-family: 'NanumSquare';
            font-weight: 800;
            font-size: 44px;
            line-height: 140%;
            margin-bottom: 20px;
        }

        .after-intro-p {
            font-family: 'NanumBarunGothic';
            font-weight: 500;
            font-size: 16px;
            line-height: 180%;
        }

        .after-intro {
            margin-top: 40px;
            margin-bottom: 60px;
        }


/*Intro Content*/
        .after-content {
            margin-top: 60px;
        }
        
        .content-title {
            font-family: 'NanumSquare';
            font-weight: 700;
            font-size: 20px;
            margin-top: 13px;
            color: red;
        }
        
        .after-content.text {
            display: flex;
            align-items: center;
        }
        
        .category-select {
            display: flex;
            align-items: center;
            margin-left: 32px;
            font-family: 'NanumBarunGothic';
        }
        
        .signup-button {
            margin-top: 60px;
            margin-bottom: 80px;
        }
        
        [type="checkbox"]:checked+span:not(.lever):before {
            border-right: 2px solid red !important;
            border-bottom: 2px solid red !important;
        }
        
        [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
            background-color: red !important;
        }
        
        [type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
            border: 2px solid red !important;
        }

        input.valid:not([type]), input.valid:not([type]):focus, input.valid[type=text]:not(.browser-default), input.valid[type=text]:not(.browser-default):focus, input.valid[type=password]:not(.browser-default), input.valid[type=password]:not(.browser-default):focus, input.valid[type=email]:not(.browser-default), input.valid[type=email]:not(.browser-default):focus, input.valid[type=url]:not(.browser-default), input.valid[type=url]:not(.browser-default):focus, input.valid[type=time]:not(.browser-default), input.valid[type=time]:not(.browser-default):focus, input.valid[type=date]:not(.browser-default), input.valid[type=date]:not(.browser-default):focus, input.valid[type=datetime]:not(.browser-default), input.valid[type=datetime]:not(.browser-default):focus, input.valid[type=datetime-local]:not(.browser-default), input.valid[type=datetime-local]:not(.browser-default):focus, input.valid[type=tel]:not(.browser-default), input.valid[type=tel]:not(.browser-default):focus, input.valid[type=number]:not(.browser-default), input.valid[type=number]:not(.browser-default):focus, input.valid[type=search]:not(.browser-default), input.valid[type=search]:not(.browser-default):focus, textarea.materialize-textarea.valid, textarea.materialize-textarea.valid:focus, .select-wrapper.valid>input.select-dropdown {
            border-bottom: 1px solid red !important;
            box-shadow: 0 1px 0 0 red !important;
        }
        
        .input-field>label {
            color: #9e9e9e !important;
        }



/*------------------등록하기 page------------------*/

/*Intro typo*/
        .new-intro-h3 {
            font-family: 'NanumSquare';
            font-weight: 800;
            font-size: 44px;
            line-height: 140%;
            margin-bottom: 20px;
        }

        .new-intro-p {
            font-family: 'NanumBarunGothic';
            font-weight: 500;
            font-size: 16px;
            line-height: 180%;
        }

        .new-intro {
            margin-top: 40px;
            margin-bottom: 60px;
        }




/*------------------SHOW page------------------*/

/*Title typo*/
        .show-title {
            font-family: 'NanumSquare';
            font-weight: 800;
            font-size: 52px;
        }


/*Side-introduction*/
        .show-introduction {
            font-family: 'NanumBarunGothic';
        }
        
        .show-introduction.title {
            font-weight: 700;
            font-size: 14px;
            margin-top: 12px;
            margin-bottom: 8px;
            color: rgba(0,0,0,0.30);
        }
        
        .show-detail {
            margin-top: 0;
            line-height: 160%;
        }
        
        .show-hr {
            border: 0px;
            border-bottom: 4px solid black;
            margin-top: 0;
        }
        
        .show-img {
            display: flex;
            align-items: center;
        }
        

/*------------------font------------------*/

.nanumsquare { font-family: 'NanumSquare', sans-serif !important; }
.nanumgothic * { font-family: 'Nanum Gothic', sans-serif; }   
.nanumbarungothic * { font-family: 'NanumBarunGothic', sans-serif; }   